@model jobsite.Models.JobPost

@{
    ViewData["Title"] = "jobDetails";
}

<h1>jobDetails</h1>

<div>
    <h4>JobPost</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Description)
        </dd>
    </dl>
</div>
/Views/Candidate/JobDetails.cshtml

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |

    <input type="button" value="Apply" style=" font-family: Work Sans,Open Sans,Helvetica,Arial,sans-serif; color: #fff; background-color: cornflowerblue; border-color: #02bb8c; border-radius: 50px; padding: 8px 12px; font-size: 14px; /* line-height: inherit; */ width: 180px; max-width: 100%;" onclick="window.location.href='<%= Url.Action(" JobDetails", "Candidate" ) %>';" / >

    <a asp-action="Index">Back to List</a>
</div>
