@model jobsite.Models.JobPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobPost</h4>
    <hr />
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="notselected-tab" data-toggle="tab" href="#notselected" role="tab" aria-controls="home" aria-selected="true">Not Selected</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="proccessed-tab" data-toggle="tab" href="#proccessed" role="tab" aria-controls="profile" aria-selected="false">Proccessed</a>
        </li>
    </ul>


    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="notselected" role="tabpanel" aria-labelledby="open-tab">
            @foreach (var x in Model.Applications)
            {
                if (x.AppStatus == AppStatus.NotSelected)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Application ID</th>
                                <th scope="col">Candidate ID</th>
                                @*<th scope="col">Candidate Name</th>*@
                                <th scope="col">Application Date</th>
                                <th scope="col">Link to Candidate Application</th>
                                <th scope="col">DownLoad CV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>@x.Id</td>
                                <td>@x.AppDate</td>
                                @*<td>@x.Candidate.Name</td>*@
                                <td><a asp-controller="JobApplications" asp-action="Details" asp-route-id="@x.Id">Show job Application</a></td>
                                <td><a asp-controller="JobApplications" asp-action="DownloadCV" asp-route-id="@x.CVId">DownLoad CV </a></td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
        </div>
        <div class="tab-pane fade" id="proccessed" role="tabpanel" aria-labelledby="close-tab">
            @foreach (var y in Model.Applications)
            {
                if (y.AppStatus != AppStatus.NotSelected)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Application ID</th>
                                <th scope="col">Candidate ID</th>
                                @*<th scope="col">Candidate Name</th>*@
                                <th scope="col">Application Date</th>
                                <th scope="col">Link to Candidate Application</th>
                                <th scope="col">DownLoad CV</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                <td>@y.Id</td>
                                <td>@y.AppDate.ToString("yyyy-MM-dd")</td>
                                @*<td>@y.Candidate.Name</td>*@
                                <td><a asp-controller="JobApplications" asp-action="Details" asp-route-id="@y.Id">Show job Application</a></td>
                                <td><a asp-controller="JobApplications" asp-action="DownloadCV" asp-route-id="@y.CVId">DownLoad CV </a></td>
                            </tr>
                        </tbody>
                    </table>
                }
            }

        </div>
        <hr>

        <dl class="row align-content-center" >
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department.Description)
            </dd>
        </dl>
    </div>

</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
