@model jobsite.Models.JobPost

@{
    ViewData["Title"] = "Details";
}

@{
    var AppMessage = "AppMessage";
}

<partial name="_StatusMessage" model="TempData[AppMessage]" />

<h1>Details</h1>
<div>
    <h4>JobPost</h4>
    <dl class="row align-content-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Description)
        </dd>
    </dl>
</div>
<div>

    @if (ViewData["Status"] is string str2 && str2 == "Closed")
    {
        <a class="btn btn-primary" disabled>Job Closed</a>
    }
    else if (ViewData["Status"] is string str3 && str3 == "Already Applied.")
    {
        <a class="btn btn-primary" disabled>@str3</a>
    }
    else if (ViewData["Status"] is string str4 && str4 == "NotApplied")
    {
        <a class="btn btn-primary" asp-action="Apply" asp-route-id="@Model.Id">Apply</a>
    }
    else
    {
        <a class="btn btn-primary" disabled>Login TO Apply</a>
    }
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
