@model IEnumerable<jobsite.Models.JobPost>

@{
    ViewData["Title"] = "Index";
}

<h1>All Job Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Search by title" value="@ViewData["GetAll"] " name="jobsearch" />
        <input type="submit" value="search" class="btn btn-primary" />
    </p>
</form>


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="open-tab" data-toggle="tab" href="#opened" role="tab" aria-controls="home" aria-selected="true">Opened</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="opened" role="tabpanel" aria-labelledby="open-tab">
        @foreach (var x in Model)
        {
            if (x.Status == JobPostStatus.Opened)
            {

                <h3 style="display: inline;">@x.Title</h3> <span class="date">@x.PostDate.ToString("yyyy-MM-dd")</span>


                <p>@x.Description</p>

                <p>
                    <svg width="18" height="18" viewBox="0 0 24 24" role="presentation" xmlns="http://www.w3.org/2000/svg" class="gc-icon"><g><path d="M15 11V5l-3-3-3 3v2H3v14h18V11h-6zm-8 8H5v-2h2v2zm0-4H5v-2h2v2zm0-4H5V9h2v2zm6 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V9h2v2zm0-4h-2V5h2v2zm6 12h-2v-2h2v2zm0-4h-2v-2h2v2z"></path> <path d="M0 0h24v24H0z" fill="none"></path></g></svg><span>@x.Department.Name</span>
                    <svg width="16" height="18" viewBox="0 0 18 24" role="presentation" xmlns="http://www.w3.org/2000/svg" class="gc-icon"><g><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path> <path d="M0 0h24v24H0z" fill="none"></path></g></svg><span>@x.Location</span>
                </p>
                <p style="display:inline"> <a class="a1" asp-action="Details" asp-route-id="@x.Id">Details</a></p>
                <hr />

            }
        }
    </div>
</div>

<style>
    .date:before {
        content: "( Posted on "
    }

    .date:after {
        content: ")"
    }





    .a1 {
        display: inline;
        width: 115px;
        height: 40px;
        background: #4E9CAF;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 25px;
    }
</style>

