@model jobsite.Models.JobApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job Application</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobPost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobPost.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobPost.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobPost.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrefDateToJoin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrefDateToJoin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppStatus)
        </dd>

    </dl>
</div>


<div>
    <a asp-action="DownloadCV" asp-route-id="@Model.CVId">Download CV</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Change Status Of Application</a> |
    <a asp-action="Details" asp-controller="JobPosts" asp-route-id="@Model.JobPostId">Back to List</a>

</div>
